<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>**/Pages/*.cshtml;**/Pages/**/*.cshtml;**/AspNetCoreGeneratedDocument.*;**/Migrations/*;**/*ModelSnapshot*.cs;**/*Designer.cs;**/obj/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>