@page
@{
  ViewData["Title"] = "Servicios";
}

<h1 class="mb-4">Servicios</h1>
<div class="row g-3">
  <div class="col-md-6 col-lg-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Consultas médicas</h5>
        <p class="card-text">Atención con especialistas, presencial y teleconsulta.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Laboratorio clínico</h5>
        <p class="card-text">Resultados digitales y seguimiento en línea.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Farmacia</h5>
        <p class="card-text">Solicita y recoge tus recetas de forma ágil.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Emergencias</h5>
        <p class="card-text">Atención prioritaria 24/7 en casos críticos.</p>
      </div>
    </div>
  </div>
</div>
